<p id="notice"><%= notice %></p>

<p>
  <b>Caption:</b>
  <%= @meme.caption %>
</p>

<p>
  <b>Photo:</b>
  <%= @photo.photo %>
</p>

<%= image_tag photo.image_url(:thumb) if photo.image? %>

<%= link_to 'Edit', edit_meme_path(@meme) %> |
<%= link_to 'Back', memes_path %>
